BasedOnStyle: Chromium
AccessModifierOffset: -4
AlignAfterOpenBracket: true
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: true
BinPackParameters: false
BreakBeforeBraces: Stroustrup
BreakConstructorInitializers: BeforeColon
ColumnLimit: 80
CommentPragmas: '^ IWYU pragma:'
Cpp11BracedListStyle: true
IndentWidth: 4
Language: Cpp
NamespaceIndentation: All
PackConstructorInitializers: NextLine
SpaceBeforeCpp11BracedList: false
SpaceInEmptyParentheses: false
Standard: Latest
TabWidth: 4
UseTab: Never
