[submodule "test/doctest"]
	path = test/doctest
	url = https://github.com/onqtam/doctest
[submodule "benchmark/google-benchmark"]
	path = benchmark/google-benchmark
	url = https://github.com/google/benchmark
